@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Georama:wght@300;500;700;800;900&display=swap');

:root{
    --cor001:#0F97A6;
    --cor002:#1BA68C;
    --cor003:#26BF78;
    --cor004:#0F97A6;
    --cor005:#F8F01C;
}

body{
    margin: 0;
}
.sans-serif {
    font-family: 'Atkinson Hyperlegible'
                -apple-system,
                 BlinkMacSystemFont,
                 'avenir next',
                 avenir,
                 'helvetica neue',
                 helvetica,
                 ubuntu,
                 roboto,
                 noto,
                 'segoe ui',
                 arial,
                 sans-serif;
}
.georgia {
    font-family: 'Georama';
}
.borda{
    outline: 10px solid var(--cor003);
}
.bl {
    border-left-style: solid;
    border-left-width: 1px;
}

.b--gold { /*Se trata do artigo com a linha ao lado*/
    border-color: var(--cor003);
}

.bw1 {
    border-width: .125rem;
}

.dib {
    display: inline-block;
}
.iconenav{
    width: 30px;
}
.i {
    font-style: italic;
}

.fw1 {
    font-weight: 100;
}

.tracked {
    letter-spacing: .1em;
}

.tracked-tight {
    letter-spacing: -.05em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.mw9 {
    max-width: 96rem;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.titulo_principal {
    color: black;
}

.marcador_titulo {
    background-color: var(--cor005);
}

.bg-green {
    background-image: linear-gradient(to right, var(--cor001) 60%, var(--cor003));
}

.pa1 {
    padding: .25rem;
}

.pa4 {
    padding: 2rem;
}

.pl4 {
    padding-left: 2rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.ttu {
    text-transform: uppercase;
}

.f2 {
    font-size: 2.25rem;
}

.f3 {
    font-size: 1.5rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.measure-narrow {
    max-width: 20em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pt5-ns {
        padding-top: 4rem;
    }

    .f3-ns {
        font-size: 1.5rem;
    }

    .f4-ns {
        font-size: 1.25rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .f1-m {
        font-size: 3rem;
    }
}

@media screen and (min-width: 60em) {
    .mw9-l {
        max-width: 96rem;
    }

    .ph7-l {
        padding-left: 16rem;
        padding-right: 16rem;
    }

    .f-headline-l {
        font-size: 6rem;
    }
}
.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.near-black {
    color: #111;
}

.hover-silver:hover {
    color: #999;
}

.hover-silver:focus {
    color: #999;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mh3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}
